/* ──────────[ Global Settings ]────────── */
* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 15px;
}

window#waybar {
    background: rgba(30, 30, 46, 0.5);
    color: #fff;
}

/* ──────────[ Left Modules ]────────── */
#workspaces {
    background: transparent;
    margin: 0 10px;
    padding: 0;
}

#workspaces button {
    min-width: 0px;
    padding: 0 6px;
    margin: 0 3px;
    background: transparent;
    color: rgba(255, 255, 255, 0.35);
    border-radius: 0px;
    border-bottom: 2px solid transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

#workspaces button.active {
    color: #f0c0cb;
    border-bottom: 2px solid #f0c0cb;
}

#workspaces button:hover {
    color: rgba(255, 255, 255, 0.7);
}

#workspaces button.urgent {
    color: #ba1a1a;
    border-bottom: 2px solid #ba1a1a;
}

#system-info {
    background: #211719;
    margin: 5px 0;
    padding: 0 10px;
    border-radius: 100px;
}

#system-info > label,
#system-info > widget > label {
    margin: 0 5px;
}

/* ──────────[ Right Modules ]────────── */
#tray {
    background: #211719;
    margin: 5px;
    border-radius: 15px;
    padding: 0 10px;
}

#wireplumber.sink-muted {
    background: transparent;
    color: rgba(30, 30, 46, 0.5);
    margin-left: 0px;
}

#wireplumber.source.source-muted {
    background: transparent;
    color: rgba(30, 30, 46, 0.5);
    margin-left: 0px;
}

#clock {
    background-color: #211719;
    border-radius: 0px 0px 0px 24px;
    padding: 0px 8px 0px 16px;
    margin-left: 12px;
}

/* ──────────[ Misc ]────────── */
tooltip {
    background: #211719;
    border: 2px solid #f0c0cb;
}

#custom-separator {
    color: #999;
}
